<h1>Sign In</h1>

<%= simple_form_for :session, url: session_path do |f| %>
  <!-- <div>
    <%#= f.label :email %>
    <%#= f.email_field :email %>
  </div> -->
  <%= f.input :email %>

  <!-- <div>
    <%#= f.label :password %>
    <%#= f.password_field :password %>
  </div> -->
  <%= f.input :password %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
