<h1>Admin Panel</h1>

<table class="table">
  <tbody>
    <tr>
      <th>Number of proudcts</th>
      <th>   ---   </th>
      <th>Number of reviews</th>
      <th>   ---   </th>
      <th>Number of users</th>
    </tr>


      <tr>
        <td><%= @prodCount %></td>
        <th>   ---   </th>
        <td><%= @revCount %></td>
        <th>   ---   </th>
        <td><%= @usersCount %></td>
      </tr>

  </tbody>
</table>
